@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
  transition: all 0.3s ease-in-out;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes hologram {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-hologram {
  animation: hologram 4s linear infinite;
}


.scrollbar-hide {
  -ms-overflow-style: none;     /* IE & Edge */
  scrollbar-width: none;        /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}